<div class="panel">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-5">Hola!</h1>
      <p class="lead">Consulta tu número personal.</p>
      <hr class="my-4">
      <p>El Número Personal, o de Destino se calcula a partir de los números asociados a tu fecha de nacimiento (día, mes, y año)</p>
      <div>
        <%= form_tag root_path, method: :get, class: "form-group", remote: true do %>
          <div class="row">
            <div class="col-xs-2">
              <%= date_field(
                  :user,
                  params[:born_on],
                  class: "form-control"
              ) %>
            </div>
          </div>
          <p class="lead">
         </p>
         <div class="row">
             <p class="lead">
               <%= submit_tag "Consultar", class: "btn btn-primary btn-lg" %>
             </p>
         </div>

        <% end %>
     </div>
    </div>
  </div>
</div>
