/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  font-family: 'Poppins', sans-serif;
  background: #345678;
  margin: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}


#particles-js {
  width: 100%;
  height: 100%;
  // position: absolute;
  position: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  // background-color: #345678;
  // background-image: url("");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: 50% 50%;
}

.panel{
   position: absolute;
   margin-top: 5%;
   margin-bottom: 5%;
   margin-left: auto;
   margin-right: auto;
   left: 50;
   right: 50;
}
