<footer class="footer">
      <div class="container">
              <copyright>
                  &copy; Cycles <%= Time.now.year %>
              </copyright>
              <nav>
                <ul>
                  <li><%= link_to "About",   '#' %></li>
                  <li><%= link_to "Contact", '#' %></li>
                  <li><a href="http://andresfajardo.co/">AF</a></li>
                </ul>
              </nav>
      </div>
</footer>
