<footer class="footer">
      <div class="container-fluid">
              <copyright>
                  &copy; Numeral <%= Time.now.year %>
              </copyright>
              <nav>
                <ul>
                  <li><%= link_to "Sobre Numeral",   '#' %></li>
                  <li><%= link_to "Contacto", '#' %></li>
                  <li><a href="http://andresfajardo.co/">AF</a></li>
                </ul>
              </nav>
      </div>
</footer>
